/* ====== Messages ====== */
aside.alert.my-0.alert-success.rounded-0.text-center.popup {
    position: absolute;
    z-index: 10000;
    width: 100%;
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
}


/* ====== Hero ====== */
.hero {
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(50%);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    transition: transform 0.3 ease;
}

.searchbar {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.searchbar > h1 {
    color: #fff;
    text-shadow: 0px 0px 25px #000;
}




@media (min-width: 576px) {
    .hero {
        height: calc(100vh - 66px);
    }
}