{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

{% block head_title %} Logout {% endblock head_title %}
{% block title %} Logout {% endblock %}
{% block content %}
    <div class="container my-5 py-5 text-center">
        <div class="card py-5 px-5 border-0 rounded-0">
            <h1 class="mb-4"> Logout</h1>
            <p class="text-black-80 mb-5"> Are you sure you want to logout?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form|crispy }}

                {{ redirect_field }}

                <button type="submit" class="btn btn-primary py-3 ">
                    Logout
                </button>
            </form>
        </div>
    </div>
{% endblock %}
