
li {list-style: none;}


/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}


.search-background {
    background-color:#3e4046;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='30'%3E%3Cpath d='M0 40L40 0' stroke='%235a5c63' stroke-width='1' opacity='0.25'/%3E%3C/svg%3E");
    background-attachment: scroll;
}

/* ===== Card ====== */

.card-img-top { 
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover; 
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15) !important;
}


.card-body {
    background: #f6f8f7 !important;
}

.card-body .fa-solid {
    color: #4c5053;
    opacity: 0.8;
}

.price-background > p {
    background-color: #e3f1eb;
    display: inline-block;
    border-radius: 20px;
    color: #2f3a34;
}


/* ===== Pagination ===== */


.page-item {
    border-radius: 0px !important;
}

.active > .page-link {
    background-color: #5EBC67;
    color: #fff;
    border: solid #00000067 1px;
    border-radius: 0px;
}

.active > .page-link:hover {
    color: #fff !important;
}

.active > .page-link:focus {
    color: #fff;
} 

.page-link {
    color: #000;
    border-radius: 0px;
}

.page-link:hover {
    color: black !important;
}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
    color: black !important; 
}

.page-link:disabled {
    cursor: not-allowed;
}


/* ===== Sections ===== */

.border-bottom {
    position: relative;
    border-bottom: 1px solid #dee2e6 !important;
    
}

.feat-section {
    background-color: var(--section-gray) !important;
}

hr {
    color:  #747474 !important;
}


/* ===== Map section ===== */

#map {
    height: 350px;
    width: 100%;
    border-radius: 0px;
}


@media (max-width: 992px) {
    .property-info-text {
        text-align: center;
    }

 
}
