
li {list-style: none;}


/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}

.search-background {
    background-color:#3e4046;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='30'%3E%3Cpath d='M0 40L40 0' stroke='%235a5c63' stroke-width='1' opacity='0.25'/%3E%3C/svg%3E");
    background-attachment: scroll;
}



/* ===== Reviews ===== */

.review {
    background-color: #f6f8f7;
    border: solid 1px #aaaaaa;
}


/* ===== Pagination ===== */


.page-item {
    border-radius: 0px !important;
}

.active > .page-link {
    background-color: #5EBC67;
    color: #fff;
    border: solid #00000067 1px;
    border-radius: 0px;
}

.active > .page-link:hover {
    color: #fff !important;
}

.active > .page-link:focus {
    color: #fff;
} 

.page-link {
    color: #000;
    border-radius: 0px;
}

.page-link:hover {
    color: black !important;
}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
    color: black !important; 
}

.page-link:disabled {
    cursor: not-allowed;
}


/* ===== Sections ===== */

.border-bottom {
    position: relative;
    border-bottom: 1px solid #dee2e6 !important;
    
}

.feat-section {
    background-color: var(--section-gray) !important;
}

hr {
    color:  #747474 !important;
}


/* ===== Map section ===== */

#map {
    height: 350px;
    width: 100%;
    border-radius: 0px;
}


@media (max-width: 992px) {
    .property-info-text {
        text-align: center;
    }

 
}
