
li {list-style: none;}


/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}


/* ===== Card ====== */

.card-img-top { 
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover; 
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15) !important;
}


.card-body {
    background: #f6f8f7 !important;
}


.fa-location-dot {
    opacity: 60%;
}


.price-background > p {
    background-color: #e3f1eb;
    display: inline-block;
    border-radius: 20px;
    color: #2f3a34;
}