
li {list-style: none;}

.container-background {background: #000;}


/* ====== Hero Destination ====== */
.hero-destination {
    width: 100%;
    height: calc(80vh - 56px);
    position: relative;
    overflow: hidden;
}

.hero-image-destination {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(53%);
    display: block;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    z-index: 2;
    background-color: #000;
}


.destination-div {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #ffffff;

}

.form-select {
    border-radius: 0;
}

.form-select:focus {
    box-shadow: none;
    border-color: #36383d;
}

.total-properties {
    color: #36383d;
}

/* ===== Card ===== */
.card-img-top { 
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover; 
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15) !important;
}

.card-body {background: #f6f8f7 !important;}

.card-body .fa-solid {
    color: #4c5053;
    opacity: 0.8;
}

.price-background > p {
    background-color: #e3f1eb;
    display: inline-block;
    border-radius: 20px;
    color: #2f3a34;
}



/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}

.search-background {
    background-color:#3e4046;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='30'%3E%3Cpath d='M0 40L40 0' stroke='%235a5c63' stroke-width='1' opacity='0.25'/%3E%3C/svg%3E");
    background-attachment: scroll;
}



/* ===== Reviews ===== */

.review {
    background-color: #f6f8f7;
    border: solid 1px #aaaaaa;
}


/* ===== Pagination ===== */


.page-item {
    border-radius: 0px !important;
}

.active > .page-link {
    background-color: #69777cbd;
    color: #fff;
    border:  0px;
    border-radius: 0px;
}

.active > .page-link:hover {
    color: #fff !important;
}

.active > .page-link:focus {
    color: #fff;
} 

.page-link {
    color: #000;
    border-radius: 0px;
}

.page-link:hover {
    color: black !important;
}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
    color: black !important; 
}

.page-link:disabled {
    cursor: not-allowed;
}


/* ===== Sections ===== */

.border-bottom {
    position: relative;
    border-bottom: 1px solid #dee2e6 !important;
    
}

.feat-section {
    background-color: var(--section-gray) !important;
}

hr {
    color:  #747474 !important;
}


/* ===== Map section ===== */

#map {
    height: 350px;
    width: 100%;
    border-radius: 0px;
}


.leaflet-top {
    top: 0;
    z-index: 940 !important;
}

.leaflet-bottom {
    bottom: 0;
    z-index: 800 !important;
}

@media (max-width: 992px) {
    .property-info-text {
        text-align: center;
    }

 
}
