{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_account/css/user_account.css' %}">
{% endblock %}

{% block title %} Order History {% endblock %}

{% block extra_meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="mb-5 text-center"> Order History </h1>
    {% if not orders %}
        <h3 class="mt-5 text-center"> You haven't made any bookings yet.</h3>
    {% else %}
    <h2> Recent Orders </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col"><i class="fa-regular fa-calendar"></i> Date ordered</th>
                    <th scope="col"><i class="fa-solid fa-coins"></i> Order Total</th>
                    <th scope="col"><i class="fa-regular fa-clock"></i> Check-in/Check-out</th>
                    <th scope="col"><i class="fa-solid fa-house"></i> Property</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="text-break">{{ order.order_number }}</td>
                        <td class="text-break">{{ order.date }}</td>
                        <td class="text-break">£{{ order.order_total }}</td>
                        <td class="text-break">{{ order.booking.check_in}} <i class="fa-solid fa-arrow-right"></i> {{ order.booking.check_out}}</td>
                        <td class="text-break">{{ order.booking.property }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}