{% extends "base.html" %}
{% load static %}


{% block extra_meta %}
  <meta name="description" content="Have any question about your 2026 UK getaway? Contact Stay Hollow today via email or phone for fast, friendly support with your holiday booking">
{% endblock %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

    
 {% block title %} Contact {% endblock %}

{% block content %}
    <!-- Hero -->
    <div class="container-fluid px-0 mb-5 container-background">
        <div class="hero-contact">
            <img srcset="{% static 'images/hero_contact_320.webp' %} 320w, {% static 'images/hero_contact_480.webp' %} 480w, {% static 'images/hero_contact_640.webp' %} 640w, {% static 'images/hero_contact_768.webp' %} 768w, {% static 'images/hero_contact_1024.webp' %} 1024w, {% static 'images/hero_contact_1280.webp' %} 1280w, {% static 'images/hero_contact_1600.webp' %}  1600w, {% static 'images/hero_contact_1920.webp' %}  1920w, {% static 'images/hero_contact_3840.webp' %} 3840w" id="hero-scroll" class="hero-image-contact" sizes="100vw" decoding="async" fetchpriority="high" draggable="false" alt="Image of a cottage on the beach.">
            <div class="contact-div">
                 <h1> Contact Us  </h1>
                 <p class="lead mt-3">We're here to help — get in touch anytime</p>
            </div>
        </div>
    </div>
    <!-- Contact Info -->
    <div class="container my-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5 mt-md-5 mt-lg-0">
                <div class="card px-5 py-5">
                    <i class="fa-solid fa-phone fa-4x mb-3"></i>
                    <h2>Phone</h2>
                    <a href="tel:441234567890">01234 567 890</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 mt-md-5 mt-lg-0">
                <div class="card px-5 py-5">
                    <i class="fa-solid fa-envelope fa-4x mb-3"></i>
                    <h2>Email</h2>
                    <a href="mailto:info@stayhollow.com">info@stayhollow.com</a>
                </div>
            </div>
              <div class="col-md-6 col-lg-4 mt-5 mt-md-5 mt-lg-0 mb-0 ">
                <div class="card px-5 py-5">
                    <i class="fa-solid fa-building fa-4x mb-3"></i>
                    <h2>Location</h2>
                    <p>London, SW1A 9ZZ<br>UK</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
