{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

    
 

{% block content %}
  <div class="container-fluid px-0 container-background">
    <div class="hero">
      <img srcset="{% static 'images/hero_320.jpg' %} 320w, {% static 'images/hero_480.jpg' %} 480w, {% static 'images/hero_640.jpg' %} 640w, {% static 'images/hero_768.jpg' %} 768w, {% static 'images/hero_1024.jpg' %} 1024w, {% static 'images/hero.jpg' %} 1280w, {% static 'images/hero_1600.jpg' %}  1600w, {% static 'images/hero4_1920.jpg' %}  1920w, {% static 'images/hero_3840.jpg' %} 3840w" id="hero-scroll" class="hero-image" sizes="100vw" decoding="async" draggable="false" alt="Image of a Villa on a sunny day">
    </div>

    <div class="searchbar">
      <h1> Your Dream Getaway Starts Here  </h1>
      {% include "partials/search_bar.html" %}
    </div>
  </div>

  <div>
    dsfffffffffff
  
  </div>



  
{% endblock %}
