{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

    
 

{% block content %}
  <div class="container-fluid px-0 container-background">
    <div class="hero">
      <img srcset="{% static 'images/hero_320.jpg' %} 320w, {% static 'images/hero_480.jpg' %} 480w, {% static 'images/hero_640.jpg' %} 640w, {% static 'images/hero_768.jpg' %} 768w, {% static 'images/hero_1024.jpg' %} 1024w, {% static 'images/hero_1280.jpg' %} 1280w, {% static 'images/hero_1600.jpg' %}  1600w, {% static 'images/hero_1920.jpg' %}  1920w, {% static 'images/hero_3840.jpg' %} 3840w" id="hero-scroll" class="hero-image" sizes="100vw" decoding="async" draggable="false" alt="Image of a Villa on a sunny day">
    </div>

    <div class="searchbar">
      <h1> Your Dream Getaway Starts Here  </h1>
      {% include "partials/search_bar.html" %}
    </div>
  </div>

  <div class="container my-5">
    <h2 class="text-center mb-5 mt-2">Featured Properties</h2>
    <div class="row justify-content-center">  
      {% for property in featured_properties %}
        <div class="col-12 col-md-6 col-lg-4 d-flex mb-5 mt-3">
          <a href="{% url 'property_detail' property.id %}"> 
            <div class="card shadow-sm h-100">
              <img src="{{ property.main_image.url }}" class="card-img-top" alt="{{ property.property_name }}">
              <div class="card-body">
                <h5 class="card-title">{{ property.property_name }}</h5>
                {% if property.destinations.parent_destination %}
                    <p><i class="fa-solid fa-location-dot"></i> {{ property.destinations.parent_destination.name }} > {{ property.destinations.name }}</p>
                {% else %}
                  <p><i class="fa-solid fa-location-dot"></i> {{ property.destinations.name }}</p>
                {% endif %}
                <div class="d-flex align-items-center small">
                  <div class=" d-flex align-items-center"><i class="fa-solid fa-users mx-2"></i>{{ property.guests }}</div>
                  <div class="d-flex align-items-center"> <i class="fa-solid fa-bed mx-2"></i>{{ property.bedrooms }}</div>
                </div>
                <div class="container px-0 price-background pt-3">
                  <p class="px-3 mb-3">From <strong>£{{ property.formatted_price }} per night </strong></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid pb-5  my-5 booking">
    <h2 class="text-center py-5 mb-5"> Why Book With Us</h2>
    <div class="container">
      <div class="row justify-content-center">
        <!-- Best Price -->
        <div class="col-12 col-lg-4">
          <div class="icon-div mb-5 mt-lg-0 text-center px-5">
            <div class="mb-4">
              <i class="fa-regular fa-credit-card fa-4x"></i>
            </div>
            <div class="text-break">
              <h4>Best Price Guarantee</h4>
              <p class="mt-4">Get the best rates for your dream holiday. We offer competitive pricing with no hidden fees.</p>
            </div>
          </div>
        </div>
         <!-- Verified Trusted Listings -->
        <div class="col-12 col-lg-4">
          <div class="icon-div mb-5 mt-5 mt-lg-0 text-center px-5">
            <div class="mb-4">
              <i class="fa-regular fa-circle-check fa-4x"></i>
            </div>
            <div class="text-break">
              <h4>Verified Trusted Listings</h4>
              <p class="mt-4">All our holiday homes are verified and meet high standards for comfort and safety. Book with confidence.</p>
            </div>
          </div>
        </div>
        <!-- Dedicated Guest Support -->
        <div class="col-12 col-lg-4">
            <div class="icon-div mt-5 mt-lg-0  text-center px-5">
            <div class="mb-4">
                <i class="fas fa-life-ring fa-4x"></i>
            </div>
              <div class="text-break">
                <h4>Dedicated Guest Support</h4>
                <p class="mt-4">Get the best rates for your dream holiday. We offer competitive pricing with no hidden fees.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock %}
