   {% load static %}
   
   <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <form method="GET" action="{% url 'properties' %}">
                    {% csrf_token %}
                    <label for="search-bar" class="visually-hidden">
                        Search properties
                    </label>
                    <div class="input-group">
                        <input id="search-bar" class="form-control border shadow-none  rounded-0" type="text" name="q"
                        placeholder="Search our site">
                        <div class="input-group-append">
                            <button id="search-button" class="form-control btn btn-light border rounded-0" type="submit">
                                <span class="icon">
                                    Search
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 text-end pt-1 mt-1">
                <button id="clear-btn" class="btn clear-button text-end py-1 px-2" aria-label="Clear search">Clear Search <i class="fa-solid fa-xmark fa-xs"></i></button>
            </div>
        </div>
    </div>