.hero {
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


@media (min-width: 576px) {
    .hero {
        height: calc(100vh - 66px);
    }
}