/* ====== Messages ====== */
aside.alert.my-0.alert-success.rounded-0.text-center.popup {
    position: absolute;
    z-index: 998;
    width: 100%;
    text-align: center;
    right: 50%;
    transform: translate(50%, 0%);
}


/* ====== Hero ====== */
.hero {
    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
    overflow: hidden;
}

.container-background {
    background: #000;
}


.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(53%);
    display: block;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    transition: transform 0.3 ease;
    z-index: 2;
    background-color: #000;
}


.searchbar {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: transparent;

}

.searchbar > h1 {
    color: #ffffff;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
    background: none;
}



/* ===== Card ===== */


.card-img-top { 
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover; 
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15) !important;
}


.card-body {
    background: #f6f8f7 !important;
}

.card-body .fa-solid {
    color: #4c5053;
    opacity: 0.8;
}

.price-background > p {
    background-color: #e3f1eb;
    display: inline-block;
    border-radius: 20px;
    color: #2f3a34;
}



@media (min-width: 576px) {
    .hero {height: calc(100vh - 66px);}
}