{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container py-5 text-center">
        <h1 class="mb-3"> Booking Confirmed </h1>
        <p class="lead">Thank you for your reservation. </p>
        <!-- Booking Summary-->
         <div class="card p-4">
            <h2> Booking Summary</h2>
            <p class="pt-3"> <strong>Reference:</strong> {{ order.order_number }}</p>
            <p class="pt-3"> <strong>Property:</strong> {{ booking.property }}</p>
            <p class="pt-3"> <strong>Check-in:</strong> {{ booking.check_in }}</p>
            <p class="pt-3"> <strong>Check-out:</strong> {{ booking.check_out }}</p>
            <p><strong>Guests:</strong> {{ booking.guests }}</p>
            <p><strong>Total paid:</strong> £{{ order.order_total  }}</p>
         </div>


    <p class="mt-4">
        We've sent a confirmation email to {{ order.email }} with full details.
    </p>

    <a href="{% url 'home' %}" class="btn btn-primary mt-3">
        Back to home
    </a>

    <a href="{% url 'order_history' %}" class="btn btn-primary mt-3 ms-2">
        View my bookings
    </a>


    </div>
{% endblock %}