{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'listings/js/listings.js' %}"></script>
{% endblock %}


{% block title %} Listings {% endblock %}


{% block content %}


{% if request.GET.destinations == "England" or request.GET.destinations == "Scotland" or request.GET.destinations == "Wales" %}

  <div class="container-fluid px-0 mb-5">

    {% if request.GET.destinations == "England" %}
      <!-- Hero -->
      <div class="container-fluid px-0 mb-5 container-background">
        <div class="hero-destination">
            <img srcset="{% static 'images/england_hero_320.webp' %} 320w, {% static 'images/england_hero_480.webp' %} 480w, {% static 'images/england_hero_640.webp' %} 640w, {% static 'images/england_hero_768.webp' %} 768w, {% static 'images/england_hero_1024.webp' %} 1024w, {% static 'images/england_hero_1280.webp' %} 1280w, {% static 'images/england_hero_1600.webp' %}  1600w, {% static 'images/england_hero_1920.webp' %}  1920w, {% static 'images/england_hero_3840.webp' %} 3840w" id="hero-scroll" class="hero-image-destination" sizes="100vw" decoding="async" draggable="false" alt="">
            <div class="destination-div">
                <h1> England  </h1>
                <p class="lead mt-3">Discover the charm of England's culture, landmarks, and history.</p>
            </div>
        </div>
      </div>

      <div class="container my-5 pt-5 text-center">
        <h2 class="mb-5">England Holiday listings </h2>
        <p class="mt-5">
          Our England listings bring together a wide range of carefully selected holiday lets, all in one easy-to-use place. From cosy countryside cottages and seaside apartments to stylish city stays and family-friendly homes, each property is chosen to offer comfort, quality, and great value. With detailed descriptions, clear photos, and up-to-date availability, finding the perfect place to stay is simple and stress-free, whether you're planning a short break or a longer holiday.
        </p>
        <p>
          England offers an incredible variety of destinations, and our platform helps you explore them all. Discover historic market towns, vibrant cities, peaceful rural villages, and stunning coastal areas, each with its own unique character and attractions. Whether you're looking to enjoy scenic walks, cultural landmarks, local food spots, or family activities, our area guides make it easy to choose a location that suits your travel style and interests. 
        </p>
      </div>

      <div class="row justify-content-between">
        
      </div>


    {% elif request.GET.destinations == "Scotland" %}
      <h2>Welcome to Scotland!</h2>
      <p>Explore the natural beauty and rich history of Scotland.</p>

    {% elif request.GET.destinations == "Wales" %}
      <h2>Welcome to Wales!</h2>
      <p>Experience the beauty of Wales and its vibrant culture.</p>
    
    {% endif %}

  </div>
{% endif %}






  <!-- Searchbar -->
  <div class="container-fluid search-background pt-2 pb-5">
    {% include "partials/search_bar.html" %}
  </div>
  <!-- Sortby -->
  {% include "listings/partials/sortby.html" %}
  <div class="container my-5">
    <p class="text-center text-sm-start total-properties">{{ property_total}} Properties Found</p>
    <!-- Properties -->
    <div class="row justify-content-start">
      {% for property in page_obj %}
        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex mb-5">
          <a href="{% url 'property_detail' property.id %}"> 
            <div class="card shadow-sm h-100">
              <img src="{{ property.main_image.url }}" class="card-img-top" alt="{{ property.property_name }}">
              <div class="card-body">
                <h5 class="card-title">{{ property.property_name }}</h5>
                {% if property.destinations.parent_destination %}
                    <p><i class="fa-solid fa-location-dot"></i> {{ property.destinations.parent_destination.name }} > {{ property.destinations.name }}</p>
                {% else %}
                  <p><i class="fa-solid fa-location-dot"></i> {{ property.destinations.name }}</p>
                {% endif %}
                <div class="d-flex align-items-center small">
                  <div class=" d-flex align-items-center"><i class="fa-solid fa-users mx-2"></i>{{ property.guests }}</div>
                  <div class="d-flex align-items-center"> <i class="fa-solid fa-bed mx-2"></i>{{ property.bedrooms }}</div>
                </div>
                <div class="container px-0 price-background pt-3">
                  <p class="px-3 mb-3">From <strong>£{{ property.formatted_price }} per night </strong></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% include "partials/pagination.html" %}
  </div>
 
{% endblock %}





