{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}

{% block leaflet_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
{% endblock %}

{% block title %} {{ property.property_name }}, {{ property.destinations.name }} {% endblock %}

{% block content %}
    <div class="container-fluid pb-3 px-0 pt-lg-5">
        <div class="container-lg px-lg-5">
            <div class="row mb-4">
                <div class="col-12 col-lg-7 px-0">
                    {% include "listings/partials/carousel.html" %}
                </div>
                <div class="col-12 col-lg-5 d-flex flex-column justify-content-center px-5 px-lg pt-5 property-info-text">
                    <h1 class="mb-5">{{ property.property_name }}</h1>
                    {% if property.destinations.parent_destination %}
                        <p><strong><i class="fa-solid fa-location-dot"></i></strong> {{ property.destinations.parent_destination.name }} >  {{ property.destinations.name }}</p>
                    {% else %}
                        <p><strong><i class="fa-solid fa-location-dot"></i></strong> {{ property.destinations.name }}</p>
                    {% endif %}
                    <p><strong><i class="fa-solid fa-bed"></i></strong> Bedrooms {{ property.bedrooms }}</p>
                    <p><strong><i class="fa-solid fa-person"></i></strong> Max Guests: {{ property.guests }}</p>
                    <div>
                        <p><strong><i class="fa-solid fa-money-bill"></i></strong> Price Per Night: £{{ property.formatted_price }}</p>
                    
                        <a href="{% url 'create_booking' property.id %}" class="btn btn-primary"> Book Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="container py-2 pb-5 px-3">

        <div class="col-12 px-0">
            <h4 class="mb-3"> Overview </h4>
            <p>{{ property.description }}</p>
        </div>
        <hr>

        
        <div class="row g-3 justify-content-start mt-5 mb-5 px-5 pt-3 pb-5 feat-section">
                <h4 class="mb-3"> Amenities </h4>
                {% for amenity in property.amenities.all %}
                    <div class="col-5 col-sm-6 col-md-4 d-flex align-items-center justify-content-start pl-0">
                        {% if amenity.icon_class %}
                            <i class="mx-2 {{ amenity.icon_class }}"></i>
                        {% endif %}
                        {{ amenity.name }}
                    </div>
                                
                {% empty %}
                        <li> No Amenities</li>
                {% endfor %}
        </div>
        <hr>
                

        <div class="row mt-5 pt-5">

            <div class="col-12 col-lg-6">
                <div id="map"></div>
            </div>
             <div class="col-12 col-lg-6 pt-4 pt-lg-4 px-lg-5 pb-5">
                <h4 class="mb-3">Location</h4>
                <p>
                    {% if property.destinations and property.destinations.area_description %}
                        {{ property.destinations.area_description }}
                    {% else %}
                        <p> No location description available for this destination.  </p>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr>
            <div class="container px-0 mt-5">

                <h4> Reviews </h4>
                {% if reviews %}
                    <p class="text-break mb-3">{{ reviews|length }} reviews</p>
                {% endif %}

                {% if has_paid_booking and not has_reviewed %}
                    <a href="{% url 'add_review' property.id %}" class="btn btn-primary mb-4">
                        Add Review    
                    </a>
                {% elif has_reviewed %}
                    <p> You have already submitted a review for this property.</p>
                {% endif %}
                {% if reviews %}
                    {% for review in reviews_preview %}
                    <div class="col-12 review mb-4 p-4">
                        <div class="rating d-flex justify-content-between">
                            <p><strong><i>{{ review.user.first_name }}</i></strong></p>
                            <div class="gap-1 text-center items-center">
                            {% for i in "12345" %}        
                                {% if forloop.counter <= review.rating %}
                                    <i class="fa-solid fa-star text-warning align-center"></i>
                                {% else %}
                                        <i class="fa-regular fa-star text-warning"></i>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <p class="text-break">{{ review.created_at|date:"d M, Y" }}</p>
                        <p class="text-break">{{ review.comment }}</p>
                        
                    </div>
                    
                {% endfor %}
                {% else %}
                    <p> Currently no reviews. </p>
                {% endif %}

                {% if reviews %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    View all reviews
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">All reviews</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body justify-content-center">
                            {% for review in reviews %}
                                <div class="col-12 review mb-4 p-4">
                                    <div class="rating d-flex justify-content-between">
                                        <p><strong><i>{{ review.user.first_name }}</i></strong></p>
                                        <div class="gap-1 text-center items-center">
                                        {% for i in "12345" %}        
                                            {% if forloop.counter <= review.rating %}
                                                <i class="fa-solid fa-star text-warning align-center"></i>
                                            {% else %}
                                                    <i class="fa-regular fa-star text-warning"></i>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <p class="text-break">{{ review.created_at|date:"d M, Y" }}</p>
                                    <p class="text-break">{{ review.comment }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                        </div>
                        </div>
                    </div>
                    </div>
                {% else %}
                {% endif %}
            </div>
        
            



    </div>
    {% include "partials/back_to_top_btn.html" %}

{% endblock %}

{% block postloadjs %}
<script src="{% static 'listings/js/property_detail.js' %}"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        const propertyLat = "{{ property.latitude }}";
        const propertyLng = "{{ property.longitude }}";

        const lat = parseFloat(propertyLat)
        const lng = parseFloat(propertyLng)

        const map = L.map('map').setView([lat, lng], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        L.marker([lat, lng])
            .addTo(map)
            .bindPopup("{{ property.property_name }}")
            .openPopup();
    </script>

{% endblock %}