{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}

{% block content %}
 <div class="container py-5">
    <div class="row mb-4 ">
        <div class="col-md-6 px-0">
            {% include "listings/partials/carousel.html" %}
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center px-5 pt-5 pt-sm-5">
            <h1 class="mb-5">{{ property.property_name }}</h1>
            {% if property.destinations.parent_destination %}
                <p><strong><i class="fa-regular fa-map"></i> {{ property.destinations.parent_destination.name }} >  {{ property.destinations.name }} </strong></p>
            {% else %}
                {{ property.destinations.name }}
            {% endif %}

            <p><strong><i class="fa-solid fa-person"></i> Guests: </strong>{{ property.guests }}</p>
            <p><strong><i class="fa-solid fa-money-bill"></i> Price Per Night:</strong> £{{ property.formatted_price }}</p>

            <ul class="list-unstyled">
                {% for a in property.amenities.all %}
                    <li>{{ a.name }}</li>
                {% empty %}
                    <li> No Amenities</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 py-4">
            <h4> Overview </h4>
            <p>{{ property.description }}</p>
        </div>

        <div>
            <a href="{% url 'create_booking' property.id %}" class="btn btn-primary"> Book Now</a>
        </div>
    </div>
 </div>
{% endblock %}