{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}
{% block content %}

  {% include "partials/search_bar.html" %}


  <div class="container my-5">
    <h1 class="text-center mb-4">Properties</h1>
    <div class="row justify-content-center">
    {% for property in properties %}
      <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex">
        <a href="{% url 'property_detail' property.id %}"> 
          <div class="card shadow-sm h-100">
            <img src="{{ property.main_image.url }}" class="card-img-top" alt="{{ property.property_name }}">
            <div class="card-body">
              <h5 class="card-title">{{ property.property_name }}</h5>
                         {% if property.destinations.parent_destination %}
                <p><i class="fa-solid fa-location-dot"></i> {{ property.destinations.parent_destination.name }} >  {{ property.destinations.name }}</p>
            {% else %}
                {{ property.destinations.name }}
            {% endif %}

              <p><strong> From  £{{ property.formatted_price }}</strong> per night</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}




