{% load static %}

{% if request.GET.destinations == "England" or request.GET.destinations == "Scotland" or request.GET.destinations == "Wales" %}

    <div class="container-fluid px-0 mb-5">

        {% if request.GET.destinations == "England" %}
        <!-- England Hero -->
        <div class="container-fluid px-0 mb-5 container-background">
            <div class="hero-destination">
                <img srcset="{% static 'images/england_hero_320.webp' %} 320w, {% static 'images/england_hero_480.webp' %} 480w, {% static 'images/england_hero_640.webp' %} 640w, {% static 'images/england_hero_768.webp' %} 768w, {% static 'images/england_hero_1024.webp' %} 1024w, {% static 'images/england_hero_1280.webp' %} 1280w, {% static 'images/england_hero_1600.webp' %}  1600w, {% static 'images/england_hero_1920.webp' %}  1920w, {% static 'images/england_hero_3840.webp' %} 3840w" id="hero-scroll" class="hero-image-destination" sizes="100vw" fetchpriority="high" decoding="async" draggable="false" alt="England countryside with mountains">
                <div class="destination-div">
                    <h1> England  </h1>
                    <p class="lead mt-3">Discover the charm of England's culture, landmarks, and history.</p>
                </div>
            </div>
        </div>

        <div class="container my-5 py-5 text-center">
            <h2 class="mb-5">England Holiday listings </h2>
            <p class="mt-5">
            Our England listings bring together a wide range of carefully selected holiday lets, all in one easy-to-use place. From cosy countryside cottages and seaside apartments to stylish city stays and family-friendly homes, each property is chosen to offer comfort, quality, and great value. With detailed descriptions, clear photos, and up-to-date availability, finding the perfect place to stay is simple and stress-free, whether you're planning a short break or a longer holiday.
            </p>
            <p>
            England offers an incredible variety of destinations, and our platform helps you explore them all. Discover historic market towns, vibrant cities, peaceful rural villages, and stunning coastal areas, each with its own unique character and attractions. Whether you're looking to enjoy scenic walks, cultural landmarks, local food spots, or family activities, our area guides make it easy to choose a location that suits your travel style and interests. 
            </p>
        </div>

        
        {% elif request.GET.destinations == "Scotland" %}

        <!-- Scotland Hero -->
        <div class="container-fluid px-0 mb-5 container-background">
            <div class="hero-destination">
                <img srcset="{% static 'images/scotland_hero_320.webp' %} 320w, {% static 'images/scotland_hero_480.webp' %} 480w, {% static 'images/scotland_hero_640.webp' %} 640w, {% static 'images/scotland_hero_768.webp' %} 768w, {% static 'images/scotland_hero_1024.webp' %} 1024w, {% static 'images/scotland_hero_1280.webp' %} 1280w, {% static 'images/scotland_hero_1600.webp' %}  1600w, {% static 'images/scotland_hero_1920.webp' %}  1920w, {% static 'images/scotland_hero_3840.webp' %} 3840w" id="hero-scroll" class="hero-image-destination" sizes="100vw" fetchpriority="high" decoding="async" draggable="false" alt="Scotland countryside with mountains">
                <div class="destination-div">
                    <h1> Scotland  </h1>
                    <p class="lead mt-3">Uncover the beauty of Scotland's landscapes, history, and vibrant culture.</p>
                </div>
            </div>
        </div>

        <div class="container my-5 py-5 text-center">
            <h2 class="mb-5">Scotland Holiday listings </h2>
            <p class="mt-5">
                Our Scotland listings feature a diverse selection of hand-picked holiday lets, all conveniently in one place. Whether you're after a charming cottage nestled in the Highlands, a modern apartment in Edinburgh, or a cosy retreat by a loch, we've got something for every taste. Each property is chosen for its comfort, quality, and value, with detailed descriptions, stunning images, and up-to-date availability, ensuring that booking your perfect getaway is quick and hassle-free, whether it's a short escape or a longer stay.
            </p>
            <p>
                Scotland is a land of stunning contrasts, and our platform makes it easy to explore its many treasures. From the rugged beauty of the Highlands and peaceful coastal villages to the cultural richness of cities like Glasgow and Aberdeen, each destination offers its own unique charm. Whether you're looking to hike through dramatic landscapes, visit historic castles, enjoy traditional Scottish food, or experience vibrant festivals, our area guides help you find the perfect spot that matches your interests and travel style.
            </p>
        </div>



        {% elif request.GET.destinations == "Wales" %}

        <!-- Wales Hero -->
        <div class="container-fluid px-0 mb-5 container-background">
            <div class="hero-destination">
                <img srcset="{% static 'images/wales_hero_320.webp' %} 320w, {% static 'images/wales_hero_480.webp' %} 480w, {% static 'images/wales_hero_640.webp' %} 640w, {% static 'images/wales_hero_768.webp' %} 768w, {% static 'images/wales_hero_1024.webp' %} 1024w, {% static 'images/wales_hero_1280.webp' %} 1280w, {% static 'images/wales_hero_1600.webp' %}  1600w, {% static 'images/wales_hero_1920.webp' %}  1920w, {% static 'images/wales_hero_3840.webp' %} 3840w" id="hero-scroll" class="hero-image-destination" sizes="100vw" fetchpriority="high" decoding="async" draggable="false" alt="Wales beach with mountains">
                <div class="destination-div">
                    <h1> Wales  </h1>
                    <p class="lead mt-3">Explore the magic of Wales stunning scenery, rich heritage, and lively traditions.</p>
                </div>
            </div>
        </div>

        <div class="container my-5 py-5 text-center">
            <h2 class="mb-5">Wales Holiday listings </h2>
            <p class="mt-5">
                Wales offers a breathtaking mix of rugged coastlines, soaring mountains, and picturesque villages, making it a perfect destination for outdoor enthusiasts and culture lovers alike. Whether you're hiking through the Brecon Beacons, exploring medieval castles, or visiting vibrant Welsh-speaking communities, there's always something new to discover. Each region is full of character, from the serene beauty of Snowdonia to the bustling energy of Cardiff.
            </p>
            <p>
                With a deep-rooted history and a passion for traditions, Wales invites you to experience its unique blend of past and present. Enjoy local delicacies, celebrate festivals, and immerse yourself in the warmth of Welsh hospitality. Whether you're after a quiet retreat in nature or a cultural adventure, our Wales listings offer the perfect place to stay, making it easy to plan your unforgettable getaway.
            </p>
        </div>


        
        {% endif %}

    </div>
{% endif %}