
:root {
    --btn-white: #ffffff;
    --btn-green-dark: #4aa557;
    --btn-gray: #6C757D;

    /* Add these to sections */
    --section-gray: #E8E7E7;
    --section-green-tint: #EAF5EC;


    --footer-colour: #1f2f24;
    --footer-text-colour: #e9f5ec;
    /* ===============================================================================    */
}


html {
    scroll-behavior: auto;
}

body {
    background-color: #f3f1f1;
    padding-top: 0px;
}

a {
    text-decoration: none;
}


/* ===== Navbar ===== */

.navbar {
    
    background-color: #2F6F3E !important;
}

.logo-img {
    height: 30px;
}

.nav-link {
    color: #ffffff;
}


/* ===== Buttons ===== */

.btn {
  border-radius: 0rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
}


.btn-login {
    color: #ffffff;
    background: transparent;
    border: 1px solid #FFFFFF !important;
    transition: all 0.25s ease;
}

.btn-login:hover {
    background-color: #E8E8E8 !important;
    border: 1px solid #ffffff !important;
    color: #2F6F3E;
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);
}

.btn-register {
    background-color: var(--btn-white);
    color: #2F6F3E;
    transition: all 0.25s ease;
}

.btn-register:hover {
    background-color: var(--brand-green-dark);
    border-color: #000;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);  
}


/* Default mobile behaviour */
.back-to-top {
    position:fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    z-index: 999;
}

.back-to-top.is-hidden {
    display: none;
}

/* Desktop behaviour */

.back-to-top.is-desktop {
    display: block;
}

/* ===== Card ===== */


.card {
    border-radius: 0px;
}

.card-img-top {
    border-radius: 0px;
}






@media (min-width: 576px) {
    .logo-img {
        height: 50px;
    }
}


@media (min-width: 992px) {

}


