
li {list-style: none;}


/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}


/* ===== Card ====== */

.card-img-top { 
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover; 
}
