
/* ===== Carousel ===== */
.carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}