{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'management/css/manage.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'management/js/manage.js' %}"></script>
{% endblock %}

{% block title %} Manage Bookings {% endblock %}
{% block content %}
   <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <aside class="col-lg-2 d-none d-lg-block bg-light p-3 sidebar">
                {% include "partials/sidebar.html" %}
            </aside>
            <div class="col-lg-10 p-4 text-center px-5">
                <div class="row justify-content-center mb-4">
                    <h1 class="mb-5"> Bookings </h1>
                    {% include "partials/mobile_sidebar.html" %}
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                <th scope="col">Property</th>
                                <th scope="col">Email</th>
                                <th scope="col">Check In</th>
                                <th scope="col">Check Out</th>
                                <th scope="col">Guests</th>
                                <th scope="col">Paid</th>
                                <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                    <tr>
                                        <td class="text-break">{{ booking.property }}</td>
                                        <td class="text-break">{{ user.email }}</td>
                                        <td class="text-break">{{ booking.check_in }}</td>
                                        <td class="text-break">{{ booking.check_out }}</td>
                                        <td class="text-break">{{ booking.guests }}</td>
                                        <td class="text-break">£{{ booking.total_price }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning btn-sm mb-1 me-0 me-md-1">Edit</a>
                                            <form method="POST" action="{% url 'delete_booking' booking.id %}" class="d-inline">
                                                {% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-danger mb-1 delete-btn">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include "partials/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}