{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Edit Booking {% endblock %}

{% block extra_meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center">Update Booking </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ booking_form|crispy }}
            <button type="submit" class="btn btn-success mt-3">Save Changes</button>
            <a href="{% url 'booking_list' %}" class="btn btn-secondary mt-3">Cancel</a>
        </form>

    </div>
{% endblock %}