{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <link href="{% static 'management/css/manage.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'management/js/manage.js' %}"></script>
{% endblock %}

{% block title %} Create Property {% endblock %}

{% block extra_meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center">Create Property </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ create_form|crispy }}
            {{ add_image |crispy }}
            <button type="submit" class="btn btn-success mt-3">Create Property</button>
            <a href="{% url 'listings_list' %}" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
{% endblock %}