{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'management/css/manage.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'management/js/manage.js' %}"></script>
{% endblock %}

{% block title %} Manage Listings {% endblock %}
{% block content %}
   <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <aside class="col-lg-2 d-none d-lg-block bg-light p-3 sidebar">
                {% include "partials/sidebar.html" %}
                
            </aside>
            <div class="col-lg-10 p-4 text-center px-5">
                <div class="row justify-content-center mb-4">
                    <h1 class="mb-5"> Listings </h1>
                    {% include "partials/mobile_sidebar.html" %}

                    <div class="text-start mb-5">
                        <a href="{% url 'create_listing' %}" class="btn btn-primary"> Add Property </a>
                    </div>
                    <div class="table-responsive">
                        
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Property Name</th>
                                    <th scope="col">Price Per Night</th>
                                    <th scope="col">Max-guests</th>
                                    <th scope="col">Max-bedrooms</th>
                                    <th scope="col">Featured</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
            
                                {% for listing in page_obj %}
                                    <tr>
                                        <td class="text-break">{{ listing.property_name }}</td>
                                        <td class="text-break">£{{ listing.price_per_night }}</td>
                                        <td class="text-break">{{ listing.guests }}</td>
                                        <td class="text-break">{{ listing.bedrooms }}</td>
                                        <td class="text-break">{{ listing.is_featured }}</td>
                                        <td class="text-break">{{ listing.created_at }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'edit_listing' listing.pk %}" class="btn btn-warning btn-sm mb-1 me-0 me-md-1">Edit</a>
                                            <form method="POST" action="{% url 'delete_listing' listing.pk %}" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-danger mb-1  delete-btn">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include "partials/pagination.html" %}
            </div>
        </div>
    </div>
    

{% endblock %}