{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'management/css/manage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <aside class="col-lg-2 d-none d-lg-block bg-light p-3 sidebar sticky-top">
                {% include "partials/sidebar.html" %}
            </aside>

            <main class="col-lg-10 p-4 text-center px-5">
                <div class="row justify-content-center">
                    <h1 class="mb-3"> Overview </h1>
                    <!-- Listings  -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Listings</h5>
                                <p class="card-text">{{ total_properties }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Bookings -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Bookings</h5>
                                <p class="card-text">{{ total_bookings }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Users -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Users</h5>
                                <p class="card-text">{{ total_users}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Reviews -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Reviews </h5>
                                <p class="card-text">{{ total_reviews }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}