{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'management/css/manage.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'management/js/manage.js' %}"></script>
{% endblock %}

{% block title %} Manage Users {% endblock %}
{% block content %}
   <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <aside class="col-lg-2 d-none d-lg-block bg-light p-3 sidebar">
                {% include "partials/sidebar.html" %}
            </aside>
            <div class="col-lg-10 p-4 text-center px-5">
                <div class="row justify-content-center mb-4">
                    <h1 class="mb-5"> Users </h1>
                    {% include "partials/mobile_sidebar.html" %}
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Staff Status</th>
                                        <th scope="col">Edit/Delete user </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td class="text-break">{{ user.username }}</td>
                                        <td class="text-break">{{ user.email }}</td>
                                        <td class="text-break">{{ user.first_name }}</td>
                                        <td class="text-break">{{ user.last_name }}</td>
                                        <td class="text-break">{{ user.is_staff }}</td>
                                        <td class="text-center">
                                            {% if request.user.is_staff %}
                                                {% if user.is_superuser and not request.user.is_superuser %}
                                                    <span> Cannot Edit/Delete Super User </span>
                                                {% else %}
                                                    <a href="{% url 'user_form' user.pk %}" class="btn btn-warning btn-sm mb-1 me-0 me-md-1">Edit</a>
                                                    <form method="POST" action="{% url 'delete_user' user.pk %}" class="d-inline">
                                                        {% csrf_token %}

                                                        <button type="submit" class="btn btn-sm btn-danger mb-1  delete-btn">Delete</button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
                {% include "partials/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}