.offcanvas {
    z-index: 1;
}

.nav-item {
    list-style: none;
}

.sidebar {
    position: sticky;
    height: calc(100vh - 66px);
    top: 66px;
}

main {
    position: relative;
}

.card {
    width: 100%;
    height: 15rem;
    box-shadow: 5px 10px 5px rgba(46, 47, 48, 0.26);
}

.card-title {
    font-size: 2rem;
}

.total_number {
    font-size: 3rem;
}

.listing-back {
    background: #4E73DF;
    background: linear-gradient(90deg,rgba(78, 115, 223, 1) 28%, rgba(73, 87, 156, 1) 80%);
    color: #fff;
}

.bookings-back {
    background: #1CC88A;
    background: linear-gradient(90deg,rgba(28, 200, 138, 1) 28%, rgba(108, 224, 182, 1) 80%);
}

.users-back {
    background-color: #f6c23e;
    background: linear-gradient(90deg,rgba(224, 163, 9, 1) 28%, rgba(246, 194, 62, 1) 80%);

}

.reviews-back {
    background: #503268;
    background: linear-gradient(90deg,rgba(80, 50, 104, 1) 28%, rgba(49, 32, 64, 1) 80%);
    color: #fff;
}

