
.offcanvas {z-index: 1;}

.nav-item {list-style: none;}

/* ===== Sidebar ===== */
.sidebar {
    position: sticky;
    height: calc(100vh - 66px);
    top: 66px;
    background-color: #ffffff !important;
}

.sidebar-div {position: fixed;}


/* ===== Overview Card ===== */
.card {
    width: 100%;
    height: 15rem;
    box-shadow: 5px 10px 5px rgba(46, 47, 48, 0.26);
}

.card-title {font-size: 2rem;}

.total_number {font-size: 3rem;}

.listing-back {
    background: #4E73DF;
    background: linear-gradient(90deg,rgba(78, 115, 223, 1) 28%, rgba(73, 87, 156, 1) 80%);
    color: #fff;
}

.bookings-back {
    background: #1CC88A;
    background: linear-gradient(90deg,rgba(28, 200, 138, 1) 28%, rgba(108, 224, 182, 1) 80%);
}

.users-back {
    background-color: #f6c23e;
    background: linear-gradient(90deg,rgba(224, 163, 9, 1) 28%, rgba(246, 194, 62, 1) 80%);
}

.reviews-back {
    background: #503268;
    background: linear-gradient(90deg,rgba(80, 50, 104, 1) 28%, rgba(49, 32, 64, 1) 80%);
    color: #fff;
}

/* ===== Table ===== */
.table-responsive {
    border: 1px solid black;
    padding: 0px;
}

/* ===== Pagination ===== */

.page-item {border-radius: 0px !important;}

.active > .page-link {
    background-color: #69777cbd;
    color: #fff;
    border:  0px;
    border-radius: 0px;
}

.active > .page-link:hover {color: #fff !important;}

.active > .page-link:focus {color: #fff;} 

.page-link {
    color: #000;
    border-radius: 0px;
}

.page-link:hover {color: black !important;}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
    color: black !important; 
}

.page-link:disabled {cursor: not-allowed;}


/* ===== Property  ===== */
.property_img {
    width: 100%;
    border-radius: 0px !important;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}