.offcanvas {
    z-index: 1;
}

.nav-item {
    list-style: none;
}

.sidebar {
    position: sticky;
    height: calc(100vh - 66px) !important;
    top: 66px;
    
}

main {
    position: relative;
    top: 50%;
    left: 0%;
}

.card {
    width: 100%;
    aspect-ratio: 3 / 1;
    height: 100%;
}
