
:root {
    --btn-white: #ffffff;
    --btn-green-dark: #4aa557;
    --btn-gray: #6C757D;

    /* Add these to sections */
    --section-gray: #E8E7E7;
    --section-green-tint: #EAF5EC;


    --footer-colour: #1f2f24;
    --footer-text-colour: #e9f5ec;
    /* ===============================================================================    */
}


body {
    background-color: #f3f1f1;
    padding-top: 90px;

    
}

a {
    text-decoration: none;
}


.logo-img {
    height: 30px;
}


.navbar {
    
    background-color: #2F6F3E !important;
    border-bottom: 1px solid #4aa557;
}

.nav-link {
    color: #ffffff;
}


/* ===== Buttons ===== */

.btn {
  border-radius: 0rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
}


.btn-login {
    color: #ffffff;
    background: transparent;
    border: 1px solid #FFFFFF !important;
    transition: all 0.25s ease;
}

.btn-login:hover {
    background-color: #E8E8E8 !important;
    border: 1px solid #ffffff !important;
    color: #2F6F3E;
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);
}

.btn-register {
    background-color: var(--btn-white);
    color: #2F6F3E;
    transition: all 0.25s ease;
}

.btn-register:hover {
    background-color: var(--brand-green-dark);
    border-color: #000;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);  
}


/* ===== Card ===== */


.card {
    border-radius: 0px;
}

.card-img-top {
    border-radius: 0px;
}




@media (min-width: 576px) {
    .logo-img {
    height: 50px;
}

}