
:root {
    --btn-green: #5EBC67;
    --btn-green-dark: #4aa557;
    --btn-gray: #6C757D ;
}


body {
    background-color: #FFFFFF;
}

.logo-img {
    height: 30px;
}


.navbar {
    background-color: #F3F4F6 !important;
    border-bottom: 1px solid #E0E0E0;
}

.btn {
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
}


.btn-login {
    border-color: var(--btn-green);
    color: var(--btn-green);
    background-color:#F3F4F6  ;
    transition: all 0.25s ease;
}

.btn-login:hover {
    background-color: var(--btn-green);
    color: #fff;
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);
}

.btn-register {
    background-color: var(--btn-green);
    border-color: var(--btn-green);
    color: #fff;
    transition: all 0.25s ease;
}

.btn-register:hover {
    background-color: var(--brand-green-dark);
    border-color: var(--brand-green-dark);
    box-shadow: 0 4px 10px rgba(94, 188, 103, 0.3);  
}



@media (min-width: 576px) {
    .logo-img {
    height: 50px;
}

}